<!-- Project 2: Dance Portfolio -->
<!-- Default Index page  -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dance Portfolio</title>
  </head>
  <body>
    <header>
      <nav>
        links here: <a href="/users/new">Register</a>, Sign In, don't show up if already signed in.

        show Contributors, Dances link if signed in
      </nav>
    </header>
    <main>
      default index page and Home (about) page.
    </main>
    <footer>

    </footer>

  </body>
</html>
