<!-- Project 2: Dance Portfolio -->
<!-- Default Index (Home) page  -->
<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <header>
      <% include ./partials/nav %>
    </header>

    <main>
      default index page and Home (about) page.
    </main>
    <footer>

    </footer>

  </body>
</html>
