/*
<!-- Project 2: Dance Portfolio -->
<!-- addtitional style sheet -->
*/

body {
  background-color: #e6ffe6;
}
h1, h2, h3, h4,  {
  text-align: center;
}

.centerDiv {
  padding: 0 8% 0 12%;
}

.homeImg {
  width: 80%;
}

.navbar {
  background: #b3ffb3;
  color: black;
}

.alert {
  color: red;
}
.dance {
  display: inline-block;
  background-color: #F8ECD8;
  padding: 1em 1em 2em 1em;
  border-radius: 10px;
  margin: .5em;
}
.danceImg{
  width: 250px;
  height: 180px;
  border: 1px solid white;
  align-items: center;
}

.viewImg {
  width: 90%;
}
