<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>

    <div class='container'>
      <h1>Edit Posting</h1>

      <form class="" action="/dances/:id/" method="POST">



        <input type="submit" name="" value="Update">
      </form>

    </div>
  </body>
</html>
