<!-- Project 2: Dance Portfolio -->
<!-- Default dances index page (View All Dances posting) -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <nav>
        links here: <a href="/">Home</a>, <a href="/users">Contributors</a>, <a href="/dances">Dances</a>, <a href="/dances/new">New Posting</a>, Sign Out
      </nav>
    </header>
    <main>
      <h1>All Dances Posting</h1>
      <ul>
        <% for(var i = 0; i < allDances.length; i++){ %>
          <li>
            <a href="/dances/<%=allDances[i].id%>"><%=allDances[i].title%></a>
          </li>
          <% } %>
      </ul>

    </main>
    <footer>

    </footer>
  </body>
</html>
