<!-- Project 2: Dance Portfolio -->
<!-- Default dances index page (View All Dances posting) -->
<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>

      <% include ../partials/nav %>
      <div class="container-fluid centerDiv">

      <h1>The Dances Collection</h1>


        <% for(var i = 0; i < allDances.length; i++){ %>
        <div class="dance">
          <h3 class="dance-title"><a href="/dances/<%=allDances[i].id%>"><%=allDances[i].title%></a></h3>
          <div class="danceImg">
            <img class="danceImg" src="<%=allDances[i].img%>" alt="">
          </div>
        </div>
        <% } %>
      </div>

      <br/><br/><br/>


  </body>
</html>
