<!-- Project 2: Dance Portfolio -->
<!-- Default dances index page (View All Dances posting) -->
<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/nav %>
    </header>
    <main>
      <h1>All Dances Posting</h1>
      <ul>
        <% for(var i = 0; i < allDances.length; i++){ %>
          <li>
            <a href="/dances/<%=allDances[i].id%>"><%=allDances[i].title%></a>
          </li>
          <% } %>
      </ul>

    </main>
    <footer>

    </footer>
  </body>
</html>
