<!-- Project 2: Dance Portfolio -->
<!-- Create new Dance posting page  -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <nav>
        links here: <a href="/">Home</a>, <a href="/users">Contributors</a>, <a href="/dances">Dances</a>, <a href="/dances/new">New Posting</a>, Sign Out
      </nav>
    </header>
    <main>
      <h1>Create new dance posting</h1>
      <form class="" action="/dances" method="POST">

        Title: <input type="text" name="title" value="">
        Description: <input type="text" name="description" value="">
        Picture url: <input type="text" name="img" value="">
        Video url: <input type="text" name="video" value="">
        <input type="submit" name="" value="Create Account">
      </form>


    </main>
    <footer>

    </footer>
  </body>
</html>
