<!-- Project 2: Dance Portfolio -->
<!-- Create new Dance posting page  -->
<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/nav %>
    </header>
    <main>
      <h1>Create new dance posting</h1>
      <form class="" action="/dances" method="POST">

        Title: <input type="text" name="title" value="">
        Description: <input type="text" name="description" value="">
        Picture url: <input type="text" name="img" value="">
        Video url: <input type="text" name="video" value="">
        <input type="submit" name="" value="Publish">
      </form>


    </main>
    <footer>

    </footer>
  </body>
</html>
