<!-- Project 2: Dance Portfolio -->
<!-- View individual dance page -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <nav>
        links here: <a href="/">Home</a>, <a href="/users">Contributors</a>, <a href="/dances">Dances</a>, <a href="/dances/new">New Posting</a>, Sign Out
      </nav>
    </header>
    <main>
      <h1>View one dance posring <%=dance.title%></h1>

      <ul>
        <li>Display all the dance comments here </li>
      </ul>

    </main>
    <footer>

    </footer>
  </body>
</html>
