<!-- Project 2: Dance Portfolio -->
<!-- View individual dance page -->
<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/nav %>
    </header>
    <main>
      <h1>View one dance posring <%=dance.title%></h1>

      <ul>
        <li>Display all the dance comments here </li>
      </ul>

    </main>
    <footer>

    </footer>
  </body>
</html>
