<!-- Project 2: Dance Portfolio -->
<!-- Log in failed alert page -->

<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <script type="text/javascript">
      var loginFailed = function() {
      alert('Username/password are not match');
      window.location.href = '/sessions/new';
      }
    </script>
  </head>
  <body onload="loginFailed()">

  </body>
</html>
