<!-- Project 2: Dance Portfolio -->
<!-- Session new Login In page -->

<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/nav %>
    </header>
    <main>
      <h1>Login In</h1>
      <form class="" action="/sessions" method="POST">

        Username: <input type="text" name="username" value="">
        Password: <input type="password" name="password" value="">

        <input type="submit" name="" value="Log In">
      </form>


    </main>
    <footer>

    </footer>
  </body>
</html>
