<!-- Project 2: Dance Portfolio -->
<!-- Default users index page (View All Users) -->

<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/nav %>
    </header>
    <main>
      <h1>All Contributors</h1>
      <ul>
        <% for(var i = 0; i < allUsers.length; i++){ %>
          <li>
            <a href="/users/<%=allUsers[i].id%>"><%=allUsers[i].displayName%></a>
          </li>
          <% } %>
      </ul>

    </main>
    <footer>

    </footer>
  </body>
</html>
