<!-- Project 2: Dance Portfolio -->
<!-- Default users index page (View All Users) -->

<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="container">


      <h3>All Contributors</h3>
      <ul>
        <% for(var i = 0; i < allUsers.length; i++){ %>
          <li>
            <a href="/users/<%=allUsers[i].id%>"><%=allUsers[i].displayName%></a>
          </li>
          <% } %>
      </ul>

    </div>
  </body>
</html>
