<!-- Project 2: Dance Portfolio -->
<!-- Create new user (register) page  -->
<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="container">
      <div class="row">
      <div class="col-md-4"> </div>
      <div class="col-md-4">
        <h1>Create an Account</h1>
        <br/>
        <form class="form-horizontal" action="/users" method="POST">
          <div class="form-group">
            <label for="username">Username: </label><input type="text" name="username" class="form-control" id="username">
          </div>
          <div class="form-group">
            <label for="password">Password: </label><input type="password" name="password" id="password" class="form-control">
          </div>
          <div class="form-group">
            <label for="displayName">Display Name:</label> <input type="text" name="displayName" id="displayName" class="form-control">
          </div>
          <input type="submit" name="" value="Create" class="btn btn-primary">

        </form>
        </div>
        <div class="col-md-4"> </div>
      </div> <!-- row -->
    </div> <!-- container -->

  </body>
</html>
