<!-- Project 2: Dance Portfolio -->
<!-- View individual user page -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <nav>
        links here: <a href="/">Home</a>, <a href="/users">Contributors</a>, Dances, New Posting, Sign Out
      </nav>
    </header>
    <main>
      <h1>View one Contributors <%=user.displayName%></h1>
      allowed edit profile if current user is the contributor.
      <ul>
        <li>Display all the dances that posted by this user here</li>
      </ul>

    </main>
    <footer>

    </footer>
  </body>
</html>
